<h1>Ping Pong</h1>
<form action="/display" method="post">
  <label for="inputNumber">Enter a number: </label>
  <input type="number" name="inputNumber">
  <button type="submit" name="button">Generate</button>
</form>
